<!DOCTYPE html>
<html>
  <body>
    Pedido {{this.id}}<br/>
    {{this.user.name}}<br/>
    {{#if this.address}}
      Entrega à domicilio<br/>
    {{else}}
      Busca na loja<br/>
    {{/if}}
    <br/>


    3x ABACATE
    1x ABÓBORA LEITE
    1x ALFACE AMERICANA HIDROFOLHAS
    2x BANANA PRATA
    * uma penca de vez e outra verde
    6x BATATA INGLESA
    1x CASTANHA DE CAJU T. S/ SAL
    5x CEBOLA BRANCA CX 3
    3x CENOURA 3A PEQUENA
    3x CHEIRO VERDE
    2x COCO VERDE CORTADO
    1x JUCARA RICCO
    28x LARANJA PERA
    5x LIMÃO TAHITI
    4x MACA NACIONAL
    1x MACAXEIRA LIMPA A VACUO
    3x MARACUJA SELECIONADO
    1x MELANCIA COMUM
    1x MELÃO DINO
    2x MORANGUITO 125 G
    1x OVO BRANCO 20UND
    1x PEPINO COMUM
    5x PERA PORTUGUESA 60/65
    1x PIMENTA DE CHEIRO SELEC HIDROFOLHAS
    250G
    2x PIMENTÃO VERDE
    1x REPOLHO VERDE
    3x TANJA IMPORTADA
    4x TOMATE ITALIANO
    1x UVA S/SEMENTES - VITORIA
  </body>
</html>